@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #2597f4;
  border-radius: 5rem;
}

section {
  padding: 5rem 10%;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  text-transform: none;
  color: #334;
}

.heading span {
  color:#a52a2a;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: #334;
    border: 0.2rem solid #334;
  }

.btn:hover {
  background: brown;
  border-color: #2597f4;
  color: white;
}

.header .contact-info {
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: brown;
}

.header .contact-info p {
  font-size: 1.5rem;
  color: #fff;
}

.header .contact-info p i {
  padding-right: .5rem;
  color: white;
}
.header .contact-info a {
  color: white; 
  transition: color 0.3s; 
}

.header .contact-info a:hover {
  text-decoration: underline;

}
.header .navbar {
  padding: 0.7rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  border-bottom: 0.2rem solid #334;
  position: relative;
  z-index: 1000;
  font-weight: bold;
}

.header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.logo{
  padding: 07.rem;
}
.header .navbar .logo {
  
  text-transform: capitalize;
  color: #334;
  font-weight: bolder;
}

.header .navbar .logo i {
  color: #2597f4;
}

.header .navbar .links a {
  margin-left: 2rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: black;
  transition: color 0.3s;
}

.header .navbar .links a:hover {
  text-decoration: underline;
  color: brown;
}

.header #menu-btn {
  font-size: 3rem;
  cursor: pointer;
  color: black;
  display: none;
}
.header .navbar .links.black-text a {
  color: black;
 
}
.language-buttons {
  display: flex;
  flex-direction: column;
  margin-right: -130px; 
  width: 10px;
  max-height: 30px;
}

.language-buttons a {
  font-size: 20px;
  text-decoration: none;
  color: white; 
}
.language-buttons1{
  display: flex;
  flex-direction: column;
  margin-left: 20px; 
  width: 10px;
  max-height: 30px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  background-image: url('unsplash.jpg');
  background-size: cover; 
  background-position: center; 

 
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
        
}

.home .content h3 {
  font-size: 4.5rem;
  text-transform: none;
  color: white;
  font-weight: bolder;
  opacity: 0;
  animation:  fade-in 1s ease-in-out forwards;
 
  
  text-align: center;
}
.links a#bs,
   .links a#en {
      padding: 8px 12px;
      margin: 0 10px;
      background-color: white;
      color: black;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      align-items: center;
     
      
   }

   .links a#bs:hover,
   .links a#en:hover {
      background-color: #555;
   }

.home .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: white;
  padding: 1rem 0;
  font-weight: bolder;
  opacity: 0;
  animation:  fade-in 1s ease-in-out forwards;
  
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 3rem;
  
  
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: none;
  color: white;
  padding-bottom: .5rem;
  animation: fade-in 2s forwards; 
  font-weight: bold;

}

.about .content p {
  font-size: 1.5rem;
  line-height: 2;
  color:black;
  padding: 1rem 0;
  font-weight: bold;
}
.hidden{
    opacity: 0;
    transition: all 2s;
}
.show {
    opacity: 1;
}
.testic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-image: url('test.jpg');
  background-size: cover; 
  background-position: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  height: 300px; /* Povećajte visinu kontejnera prema potrebi */
  width:100%;

}

.left-content {
  width: 50%;
}

.right-content {
  width: 50%;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 19px;
  font-weight: bold;
  text-decoration: none;
  background-color: #7cb1f3;
  color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 20px; /* Prilagodite vrijednost margina prema potrebi */
  white-space: nowrap;
}

.cta-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.services {
  background-image: url('testictestic.jpg');
  background-size: cover; 
  background-position: center; 
}

.services .heading, .services .heading span {
    color: rgb(255, 255, 255); 
    font-weight: bold;
    
   
}
.services .heading  {
  color: white;
}
.services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    
}

.services .box-container .box {
    text-align: center;
    background: #7cb1f3;
    border: 0.2rem solid #334;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 3rem 2rem;
    
}



.services .box-container .box:hover h3 {
    color: #fff;
}

.services .box-container .box:hover p {
    color: #fff;
}

.services .box-container .box img {
    height: 7rem;
    margin-bottom: .5rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: white;
    padding: 1rem 0;
    font-weight: bold;
}

.services .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
.slika{
    
    background-color: #d1d1d1 ;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  
  
}
.contact .heading{
  color:red;
  font-weight: bold;
}
.contact{
  background-image: url('adil.jpg');
  background-size: cover; 
  background-position: center; 
}
.contact .row .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border: 0.2rem solid #334;
}

.contact .row form h3 {
  font-size: 2.5rem;
 text-transform: none;
  color: black;
  font-weight: bolder;
  padding-bottom: 1rem;
}
form input[type="tel"]::placeholder {
  color: black;
}
form input[type="text"]::placeholder {
  color: black;
}
form input[type="email"]::placeholder {
  color: black;
}
form textarea::placeholder {
  color: black;
}


.contact .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .row form .inputBox input {
  width: 49%;
}

.contact .row form .inputBox input, .contact .row form textarea {
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: black;
  margin: .7rem 0;
  border: 0.2rem solid black;
  font-weight: bold;
}



.contact .row form .inputBox input:focus::-webkit-input-placeholder, .contact .row form textarea:focus::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
}

.contact .row form .inputBox input:focus:-ms-input-placeholder, .contact .row form textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::-ms-input-placeholder, .contact .row form textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.contact .row form .inputBox input:focus::placeholder, .contact .row form textarea:focus::placeholder {
  color: white;
}

.contact .row form textarea {
  width: 100%;
  height: 15rem;
  resize: none;
}

footer{
     background-color: #000000ff;
     position: relative;
     width: 100%;
     min-height: 350px;
     padding: 3rem 1rem;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:#ff014fff;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:15px;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.row .form input{
    background-color: #1a1c20ff;
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}

/********** Responsive Design ********/
@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .header .contact-info {
    padding: 2rem 5%;
    display: none;
  }
  .header .navbar {
    padding: 2rem 5%;
  }
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header .contact-info {
    padding: 2rem;
    display: none;
  }
  .header .navbar {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .contact-info {
    text-align: center; 
    padding: 1rem; 
    background-color: brown; 
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    display: flex;
    
  }
  .header .contact-info p {
    margin: 0.5rem 0; 
    font-size: 1.5rem; 
    display: inline-block; 
    font-size: 10px;
  }
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .navbar .links {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: white;
    border-top: 0.2rem solid #334;
    border-bottom: 0.2rem solid #334;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar .links.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar .links a {
    display: block;
    margin: 2.5rem 2rem;
    font-size: 2.5rem;
  }
  .language-buttons {
    display: flex;
   
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .content h3 {
    font-size: 3rem;
  }
  .contact .row form .inputBox input {
    width: 100%;
  }
  .heading {
    font-size: 3rem;
  }
}


*ostali fajlovi css*
.about-container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 100%;
  height: 300px;
  
}

.text-container {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
}

.text-container h2 {
  color: #333;
  border-bottom: 1px solid black; /* Postavljanje linije ispod naslova */
  width: 50%;
  display: inline; /* Postavljanje naslova kao "inline" elementa */
font-size: 50px;
}

.text-container p {
  line-height: 1.6;
  color: #666;
  font-size: 13px;
}
.Onama h3{
  position: absolute;
 top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 20px;
  
  color: white;
  font-size: 100px;
  font-weight: bold;
  
}
.Vise {
  text-align: right;
}
.heading{
  width:90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin:20px auto;
}
.heading h1{
  font-size: 50px;
  color:#000;
  margin-bottom:25px;
  position: relative;
}
.heading h1::after{
  content:"";
  position:absolute;
  width:100%;
  height:4px;
  display:block;
  margin:0 auto;
  background-color: rgb(103, 103, 235);
}
.heading p{
  font-size: 18px;
  color:#666;
  margin-bottom: 35px;
}
.container{
  width:90%;
  margin:0 auto;
  padding: 10px 20px;
}
.about{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image{
  flex:1;
  margin-right:40px;
  overflow:hidden;
}
.about-image img{
  max-width: 100%;
  height: auto;
  display:block;
  transition: 0.5s ease;
}
.about-image:hover img{
  transform: scale(1.2);
}
.about-content{
flex:1;
}
.about-content h2{
  font-size:23px;
  margin-bottom:15px;
color:#333;
}
.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color:#000000;
}
.about-content .read-more{
display: inline-block;
padding: 10px 20px; /* Adjust padding as needed */
border-radius: 50%; /* Creates a circular shape */
background-color: green;
color: white;
text-decoration: none;
}
.about-content .read-more{
  display:inline-block;
  padding:10px 20px;
  color:rgb(0, 0, 0);
  font-weight: bold;
  font-size:19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition:0.3s ease;
}
.about-content .read-more:hover{
  background-color: red;
}
@media screen and (max-width: 768px){
  .heading{
    padding:0px 20px;
  }
  .heading h1{
    font-size: 36px;
  }
  .heading p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container{
    padding:0px;
  }
  .about{
    padding:20px;
    flex-direction: column;
  }
  .about-image{
    margin-right:0px;
    margin-bottom: 20px;
  }
  .about-content p{
    padding:0px;
    font-size:16px;
  }
  .about-content .read-more{
    font-size:16px;
  }
}
.wrapper{
  font-family: 'poppins',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
}
.wrapper h1{
  font-size: 3em;

  margin: 25px;
}
.content-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  margin-top: 30px;
}
.card{
  min-height: 220px;
  width: 320px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin: 10px 4px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
  margin: 20px;
 color: #0056b3;
}
.card h2{
  margin-bottom: 12px;
  font-weight: 400;
  text-align: center;
  color: black;
  font-size: 25px;
}
.card p{
  color: #6c757d;
  text-align: center;
}
.card:hover i,
.card:hover p{
  color: #fff;
}
.card:hover h2{
  font-weight: 600;
}


@media(max-width:991px){
  .wrapper{
      padding: 25px;
  }
  .wrapper h1{
      font-size: 2.5em;
      font-weight: 600;
  }
  .content-box{
      flex-direction: column;
      width: 100%;
  }
  .card{
      min-width: 300px;
      margin: 10px auto;
  }
}
.location{
  width:80%;
  margin:auto;
  padding:80px 0;
}
.location iframe{
  width:100%
}
.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.contact-form {
  flex: 1;
  padding: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

form .btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}
